body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
    background-color: #262626;
}

main {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

section {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

article {
    position: absolute;
    text-align: center;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s;
    transform: translateY(-100%);
}

h1 {
    text-transform: uppercase;
    margin: 0;
}

p {
    font-size: 1.5rem;
}

img {
    width: 100%;
    transition: all 0.5s;
}

section:hover article {
    transform: translateY(0);
}


/*1st caption*/

.caption {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
}

.container:hover .caption {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.container:hover img {
    transform: scale(1.3) rotate(15deg);
    transition: all 0.5s;
}

.caption,
.caption-2 {
    top: 0;
}


/*2nd caption*/

.caption-2,
.caption-3 {
    background-color: black;
}

.container-2:hover img {
    transform: translateY(100%);
    transition: all 0.5s;
}


/*3rd caption*/

.caption-3 {
    height: 30%;
    bottom: 0;
    transform: translateY(100%);
}

.container-3:hover img {
    transform: translateY(-30%);
    transition: all 0.5s;
}


/*4th caption*/

.container-4 {
    width: 400px;
    border-radius: 10px;
}

.container-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #db2b42;
    opacity: 0.6;
    transition-delay: 0.5s;
    transition: all 0.5s;
    transform: translateY(100%);
}

.container-4:hover::before {
    transition: all 0.5s;
    transition-delay: 0s;
    transform: translateY(0);
}

.caption-4 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.5s;
}

.caption-4 * {
    margin: 0;
    letter-spacing: 1px;
}

.caption-4 h3 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
}

.caption-4 h5 {
    background-color: rgba(106, 230, 154, 1);
    padding: 3px 5px;
    color: #262626;
}

.container-4:hover .caption-4 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}


/*5th container*/

.container-5 {
    border: 5px solid white;
    transition: all 0.5rem;
}

.container-5:hover img {
    transform: scale(2) rotate(-25deg);
    transform-origin: 20%, 30%;
}