body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #26de81;
}

main {
    margin-top: 8rem;
}

h1 {
    text-align: center;
    margin: 1rem 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef, 0 4px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 0.1);
    animation: float 1.5s linear infinite alternate;
}

@keyframes float {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}