body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #273c75;
}

h1 {
    font-size: 200px;
    text-align: center;
    background: url(image.jpg);
    -webkit-background-clip: text;
    color: transparent;
    animation: textBG 20s linear infinite;
}

@keyframes textBG {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}